

.footer {
	background: gray;
  color: white;
  margin-top: 50px;
  padding: 10px 50px 10px 50px;
	display: flex;

	justify-content: space-between;
	align-items: flex-end;

  a, a:hover, a:visited {
    text-decoration: none;
    color: white;
  }
}
