.head {
	background: $brand-yellow;
  padding: 10px 50px 15px 50px;
  margin-bottom: 50px;
	display: flex;
	flex: 0 auto;
  a, a:hover, a:visited {
    text-decoration: none;
    color: black;
  }
}

.name {
  font-size: 1.5em;
}

.description {
  font-size: 0.7em;
}

.textWrap {
	margin-right: auto;
	padding-top: 30px;
	font-size: 1.2em;

}

.logoWrap {
	overflow: hidden
}

// Portrait mobiles
@media (max-width: 480px) {
	.logoWrap {
		 display: none;
	 }
	 .textWrap {
	 	margin-right: auto;
	 	padding-top: 0px;
	 	font-size: 1.0em;
	 }
 }
