
.page {

}

a {
  color: $brand-link;
}

a:hover {
  text-decoration: underline;
  color: $brand-link;
}

a:active {
  color: $brand-link;
}

a:visited {
  text-decoration: none;
  color: $brand-link-visited;
}

.page-header h1 {
  font-size: 22px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.card {
  margin-top:30px;
}

.ni {
}

body {
  font-size: 1em;

  .search {
  position: relative;
  color: black;
  font-size: 16px;
}
}

h1, h2, h3, h4, h5, h6 {

}

a {

}


.card-public {
  background-color: $shade-public;
}

.card-private {
  background-color: $shade-private;
  .card-text a {
    font-weight: bold;
    font-size: 1.1em;

  }
  .alarm a {
    color: red;

  }
}

ul{
  margin-left:1em;
}


h6{
 font-weight: bold;
 padding-top: 0.9em;
 font-size: 1.2em;
}

table {
  width: 100%;
}

tbody > tr:nth-of-type(odd) {
  background-color: $table-highlight;
  border-top: 1px solid darken($table-highlight, 10%);
  border-bottom: 1px solid darken($table-highlight, 10%);
}
tbody > tr:hover {
  background-color: darken($table-highlight, 5%);
}

td {
  padding: 0.3em 0.4em 0.3em 0.4em;
}

.search input {
  width: 250px;
  height: 32px;

  background: #fcfcfc;
  border: 1px solid #aaa;
  border-radius: 5px;

}

.search input { text-indent: 32px;}
.search .fa-search {
  position: absolute;
  top: 10px;
  left: 10px;
}
