// Grid settings
$enable-flex:           true;
$main-sm-columns:       12;
$sidebar-sm-columns:    4;


// zaek-sh colors:
$brand-yellow: #ffcc00;
$brand-link: blue;
$brand-link-visited: #609; // googles visited link color
$shade-public: #ebebff;
//$shade-private: #fffaea;
$shade-private: #fff3c4;


// Colors (default: #27ae60;)
$brand-primary:         $brand-yellow;
$brand-secondary:       #0000FF;
$brand-dark:            #292b2c;

$table-highlight: #f9f9f9; // light gray
